colorama==0.4.4
colorlog==6.7.0
community==1.0.0b1
dgl==1.0.1
hyperopt==0.2.7
matplotlib==3.3.2
networkx==2.5
numpy==1.19.2
pandas==1.1.3
pytest==0.0.0
PyYAML==6.0
scikit_learn==1.2.2
scipy==1.5.2
setuptools==50.3.1.post20201107
sphinx_rtd_theme==1.2.0
torch==2.0.0
torch_geometric==2.3.0
tqdm==4.50.2
